.friend{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #f2f2f2;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.detail-btn{
    background-color: rgb(22, 11, 83) !important;
    color: rgb(255, 255, 255) !important;
    border: none !important;
    border-radius: 5px !important;
    padding: 5px 10px !important;
    margin: 0 15px !important;
    transition: background-color 0.2s linear;
}

.detail-btn:hover{
    background-color: rgb(109, 78, 223) !important;
    color: rgb(255, 255, 255) !important;
    border: none !important;
    border-radius: 5px !important;
    padding: 5px 10px !important;
    margin: 0 15px !important;
}

.each-image-container{
    height:200px;
}

.spinner-container{
    height: 200px;
}
.each-spinner{
    height:200px;
}